<h1><%= @city.city_name %></h1>

<p>Description: <%= @city.city_description %></p>

<h3>Attractions</h3>

<p> Hear Attraction: <%= @city.hear_attraction %></p>
<p> See Attraction: <%= @city.see_attraction %></p>
<p> Smell Attraction: <%= @city.smell_attraction %></p>
<p> Taste Attraction: <%= @city.taste_attraction %></p>
<p> Touch Attraction: <%= @city.touch_attraction %></p>